<h2>Your events</h2>
<% @events.each do |e| %>
<ul>
  <li><strong>Event:</strong><%= e["name"] %></li>
  <li><strong>Where:</strong>
    <%- if e["venue"].present? %>
      <p><%= e["venue"]["name"] %>
      <%= e["venue"]["address_1"] %>
      <%= e["venue"]["city"].upcase %></p>
    <% end %>
  </li>

</ul>
<% end %>
