
<div class="panel panel-default">
  <div class="panel-heading">Your favourite groups </div>
    <div class="panel-body">

      <ul id="favourites">

        <% @favourites.each do |f| %>
          <%- if f.active == true %>
          <div>
          <li id="<%="#{f.id}"%>"><%= f.group_name %>
            <input id="box" type="checkbox" onClick="checkBox(event)">
          </li>
          <% end %>
        <% end %>

      </ul>
      <ul id="errors"></ul>

  </div>
</div>
