
  <ul id="favourites">
    <% @favourites.each do |f| %>
    <li id="<%="#{f.id}"%>"><%= f.group_name %>
      <input type="checkbox" onClick="checkBox(event)">
    </li>
    <% end %>
  <ul id="errors"></ul>
