<h2> Your Favourite Groups </h2>

<div class="favourites">

  <% @favourites.each do |f| %>
    <%- if f.active == true %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= f.group_name %></div>
      <div class="panel-body">
        <div id="<%="#{f.id}"%>">
          <label onClick="checkBox(event)"><input id="box" type="checkbox" onClick="checkBox(event)">Unfavourtite</label>
          <img class='image' src='<%= f.photo_url %>'>
        </div>
      </div>
        <ul id="errors"></ul>
  </div>

    <% end %>
  <% end %>
</div>
