<h2>Recommended Events for you</h2>
<% @recommended_events.each do |re| %>
<div class="recommended-events">
  <ul>
    <li><strong>Event:</strong><%= re["name"] %></li>
    <li><strong>Group:</strong><%= re["group"]["name"] %></li>
    <a href="<%= re["link"]%>" target="_blank">Check out this event on Meetup.com</a><br>
  </ul>
</div>
<% end %>
