<a href='<%=member_url%>'><img class='logo' src="http://res.cloudinary.com/dsiyhc1tt/image/upload/v1479235744/meetup-logo_h5atgk.png"</a>


<h1> You made it Home </h1>


  <%= link_to "Sign in with Meetup", "/auth/meetup" %>
