/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   margin: 10px;
   padding: 0px;
   border: 0px;
 }

.logo {
  max-width: 120px;
  max-height: 120px;
}

.welcome {
  font-family: 'Leckerli One', cursive;
  font-size:40px;
  text-align:left;
}

.header{
  display:flex;
  max-width:1250px;
  margin:auto;
  justify-content:space-between;
  letter-spacing:2px;
}

  .title{
    font-family: 'Leckerli One', cursive;
    font-size:60px;
    text-align:left;
  }

  .navbar{
    font-family:'Slabo 27px', sans-serif;
    display:flex;
    list-style-type: none;
    align-items: center;
    letter-spacing:1px;
  }

  .sign-in{
    font-size: 18px;
    margin:10px 20px 10px 100px;
    text-decoration: none;
  }

.group {
  margin: 10px;
}
  .group-title {
    font-size: 20px;

  }

#wrap {
   width:1200px;
   margin:0 auto;
}
  #faves {
    float:right;
    width:33%;
  }

  #groups {
    float:left;
    width:33%;
  }

  #events {
    display: inline-block;
    width: 33%;
  }
