@import "bootstrap-sprockets";
@import "bootstrap";

 html, body {
   padding: 0px;
   border: 0px;
 }

 h2 {
   position: absolute;
   font-family: 'Raleway', cursive;
   font-size: 28px;
   margin: 10px;
 }

 li {
  list-style: none;
 }

//////// MEMBERS app ////////
.panel {
  display: inline-block;
  margin: 10px;
  width: 300px;
}

.panel-body {
  height: 150px;
}
/////////////////
//////// MEMBERS header ////////
#members-header {
  position: fixed;
  width:100%;
  background-color: rgb(154, 242, 189);

}
  .logo {
    position: relative;
    max-width: 120px;
    max-height: 120px;
  }

  .welcome {
    position: relative;
    font-family: 'Leckerli One', cursive;
    font-size:40px;
    padding: 20px;
  }

  .sign-out-link {
    float: right;
    margin: 20px;
    text-decoration: none;
  }
////////////////////
////////// MEMBERS favourite groups /////////
#favourites {
  margin: 130px 10px 10px 10px;
  position: absolute;
  float: left;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  width: 60%;
}
////////////////////
///////// MEMBERS groups ////////////
.groups-link{
  position: absolute;
  padding: 10px;
  background-color: #F5F5F5;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.2);
  margin-top: 500px;
}

////////////////////

.home-header{
  display:flex;
  max-width:1250px;
  margin:auto;
  justify-content:space-between;
  letter-spacing:2px;
}

  .title{
    font-family: 'Leckerli One', cursive;
    font-size:60px;
    text-align:left;
  }

  .sign-in{
    font-size: 18px;
    margin:10px 20px 10px 100px;
    text-decoration: none;
  }

// .group {
//   margin: 10px;
// }
  /*.wrap {
   width:1200px;
   margin:0 auto;
}*/
  .groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
  }




    .group-title {
      /*padding: 2px;*/
      font-size: 16px;
      font-weight: bold;
      float:left;
    }

    .image {
      max-width: 100px;
      max-height: 100px;
    }

    #add-favourite {
      /*float: right;*/
      /*padding: 2px;*/
    }
  #events {
    float: right;
    display: inline-block;
    width: 30%;
  }
